
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

// Colors
$background-color: #1C1C1C;
$font-color: #FDE5D4;
$vibes-blue-color: #1CC1E5;
$sushi-red-color: #FF013E;
$button-color: #BC002D;
$green-button-color: #1B813E;


@mixin card-background-color {
    background: linear-gradient(#626262, #62626200);
}

@mixin chosen-dish-background-color {
    background: linear-gradient(#626262, #6262629a);
}

@mixin veggie-card-background-color {
    background: linear-gradient(#42602D, #42602D00);
}

// Fonts
$font-family-base: 'Exo', sans-serif;

// Font Sizes
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.875;

// Font Weights 
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;



// Spacing
// $spacer: 1rem;
// $spacer-half: $spacer / 2;
// $spacer-quarter: $spacer / 4;
// $spacer-double: $spacer * 2;
// $spacer-triple: $spacer * 3;

// Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
