@import './variables';

.OrderInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    input {
        width: 14.4rem;
        height: 2rem;
        padding: .2rem 1rem;
        margin-left: 1rem;
        background-color: $background-color;
        border-radius: 0.5rem;
        border: .3px solid $font-color;
        font-size: 1.1rem;
        font-style: italic;
        color: white;
    }
    h2 {
        align-self: flex-end;
        margin: 2rem;
    }
    button {
        border: none;
        background-color: $button-color;
        color: $font-color;
        font-size:  1.5rem;
        margin-bottom: 2rem;
        width: 13rem;
        height: 4rem;
        border-radius: 2rem;
        align-self: center;
        cursor: pointer;
    }
}

@media (min-width: 1024px) {
    .CartContainer {
        margin-top: 15rem;
    }
    
    .OrderInfo {
        margin-bottom: 0;
        input {
            width: 20rem;
            height: 3rem;
            padding: .2rem 1rem;
            margin-left: 1rem;
            background-color: $background-color;
            border-radius: 0.5rem;
            border: .3px solid $font-color;
            font-size: 1.5rem;
            font-style: italic;
            color: white;
        }
        h2 {
            align-self: flex-end;
            margin: 2rem;
        }
        button {
            border: none;
            background-color: $button-color;
            color: $font-color;
            font-size:  1.5rem;
            margin-bottom: 2rem;
            width: 13rem;
            height: 4rem;
            border-radius: 2rem;
            align-self: center;
            cursor: pointer;
        }
    }
}