@import './variables';

.EmptyCartContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    
    img {
        width: 19rem;
        height: 13.5rem;
        margin: 5rem 0 1rem;
        border-radius: 1.5rem;
        box-shadow: 0px 0px 96px 0px #000;
    }
}