.FoodCard {
    width: 8.6rem;
    height: 12.8rem;
    border-radius: 1.25rem;
    margin: 1rem;
    @include card-background-color;
    img {
        height: 8rem;
        padding-left: 2rem;
        padding-top: .5rem;
        margin-bottom: -.5rem;
        
    }

    p {
        font-family: $font-family-base;
        margin-top: .6rem;
        margin-left: .6rem;
        font-size: 14px;
    }

  }

  a:-webkit-any-link {
    color: $font-color;
    text-decoration: none;
}

.FoodCard_wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.FoodCard-vegetarian {
     @include veggie-card-background-color;
}