.FoodCard {
    width: 8.6rem;
    height: 12.8rem;
    border-radius: 1.25rem;
    margin: 1rem;
    cursor: pointer;
    @include card-background-color;
    img {
        height: 8rem;
        padding-left: 2rem;
        padding-top: .5rem;
        margin-bottom: -.5rem;
    }
    p {
        font-family: $font-family-base;
        margin-top: .6rem;
        margin-left: .6rem;
        font-size: 14px;
    }
}
a:-webkit-any-link {
    color: $font-color;
    text-decoration: none;
}

.FoodCard_wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.FoodCard-vegetarian {
     @include veggie-card-background-color;
}

@media (min-width: 1024px) {
    .FoodCard {
        width: 300px;
        height: 20rem;
        margin: 1rem;
        img {
            height: 14rem;
            padding-left: 2.3rem;
            padding-top: 1.5rem;
            margin-bottom: -.5rem;;
        }
        p {
            font-family: $font-family-base;
            margin-top: .6rem;
            margin-left: .6rem;
            font-size: 14px;
        }
    }
    .FoodCard_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}