@import './variables';

.HeaderContainer {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem;
    margin-bottom: 1rem;
    top: 0;
    background-color: $background-color;
    padding: .5rem;
}

.Logo {
    width: 11rem;
    height: 11rem;
    margin-left: -0.875rem;
}

.Profile {
    display: flex;
    align-items: center;

    img {
        width: 4rem;
        height: 4rem;
    }
}

.ProfileInfo {
    margin-right: 0.5rem;
    line-height: 0.4rem;

    p {
        font-size: $font-size-sm;
    }
}


@media (min-width: 1024px) {
    .HeaderContainer {
        position: fixed;
        z-index: 100;
        width: 100vw;
        margin: 0;
    }

    .Profile {
        margin-right: 3rem;
    }

    .Logo {
        margin-left: 2rem;
    }
}