@import './variables';

.HeaderContainer {
    height: 11rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem;
}

.Logo {
    width: 11rem;
    height: 11rem;
    margin-left: -0.875rem;
}

.Profile {
    display: flex;
    align-items: center;

    img {
        width: 4rem;
        height: 4rem;
    }
}

.ProfileInfo {
    margin-right: 0.5rem;
    line-height: 0.4rem;

    p {
        font-size: $font-size-sm;
    }
}