@import './variables';

.HorizontalWrapper {
    height: 8.625rem;
    width: 20.625rem;
    border-radius: 1.25rem;
    margin: 2rem 1rem;
    background: linear-gradient(to right, #626262, #62626200);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .HorizontalInfo {
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    img {
        height: 9rem;
        margin-left: 1.5rem;
        margin-bottom: 2.5rem;
    }
    p {
        font-family: $font-family-base;
        font-size: 20px;
        margin: 0;
    }
}

.HorizontalFoodCard-vegetarian {
    background: linear-gradient(to right,#42602D, #42602D00);
}