@import './variables';

.login-container {
    height: 100vh;
    background-image: url(./public/assets/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .logo {
            width: 15rem;
            margin-top: 7rem;
        }
    }
    
    .welcome-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 3.5rem;
    }

    h3 {
        width: 19rem;
    }

    button {
        margin: 1rem;
    }
}

@media (min-width: 1024px) {
    .login-container {
        background-image: url(./public/assets/img/wallpaper.png);
        background-repeat: no-repeat;
        background-size: cover;
        .logo-container {
            .logo {
                width: 30rem;
            }
        }
        .welcome-page {
            h2 {
                font-size: 45px;
                text-shadow: 5px 0 5px $background-color ;
            }
            h3 {
                width: 30rem;
                font-size: 25px;
                text-shadow: 5px 0 5px $background-color;
            }
            button {
                width: 20rem;
                height: 4rem;
                font-size: 20px;
            }
        }
    }
}