@import "variables";
@import "MyProfile";
@import 'swiper/scss';
@import "HeroFood";
@import "SearchBar";
@import "NavBar";
@import "FoodCard";
@import "Overlay";
@import "QuantitySelector";
@import "Menu";
@import "HorizontalFC";
@import "SmallSelector";
@import "Cart";
@import "AmountIcon";



body {
  font-family: $font-family-base;
  color: $font-color;
  background-color: $background-color;
  margin: 0;

}

.HomePage {
  --toastify-color-dark: #282828;
  --toastify-toast-min-height: 84px;
  --toastify-color-progress-dark: #1B813E; 

  .Toastify__toast {
    font-family: $font-family-base;
    top: 2rem;
    width: 95%;
    padding-left: 2rem;
    transform: translateX(2.5%);
    border-radius: 50rem;
    border: 1px solid #fde5d4a4;
    background-image: url('../assets/icons/takeaway.svg/');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 17.5rem 55%;
  }

  .Toastify__close-button {
    display: none;
  }
  
  article {
    h3 {
      margin: 0 1.2rem 
    }
  }
}
@media (min-width: 1024px) {
  .HomePage {
    article {
      h3 {
        margin: 0 2rem;
      }
    }
  }

  .FoodCard {
    width: 300px;
    margin: 1rem;
  }

  .NavBar {
    padding: 1rem 2rem;
  }

  // Add more styles for other components as needed
}

.drag-area {
  height: 90vh;
  width: 100vw;
}

.draggable_button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 4px solid #1B813E;
  background-color: #282828;

}