@import "variables";
@import "MyProfile";
@import 'swiper/scss';
@import "HeroFood";
@import "SearchBar";
<<<<<<< HEAD
=======
@import "NavBar";
>>>>>>> nav-bar
@import "FoodCard";
@import "Overlay";
@import "QuantitySelector";

body {
  font-family: $font-family-base;
  color: $font-color;
  background-color: $background-color;
  margin: 0;

}
