@import "variables";

.navbar {
    position: fixed;
    bottom: 0;
    left: 0; // Add this to make sure the navbar starts from the left edge of the viewport
    right: 0; // Add this to make sure the navbar ends at the right edge of the viewport
    display: flex;
    justify-content: space-evenly;
    background-color: $background-color;
    z-index: 1000; // Add this to make sure the navbar is always on top
    box-sizing: border-box; // Add this to include padding and border in the element's total width and height
  }

.nav-link {
    color: $font-color;
    text-decoration: none;
}