@import './variables';

.nav-container {
    position:fixed ;
    bottom: 1rem;
    width: 95%;
    transform: translateX(2.6%);
    border: 1px solid #fde5d4a4;
    height: 4.5rem;
    border-radius: 50px;
    background-color: #282828;
    margin-bottom: -.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    section {
        height: 100%;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 45%;
        }
    }
}

@media (min-width: 1024px) {
    .nav-container {
        top: 2.5rem;
        width: 60vw;
        transform: translateX(30%);
        // right: 0;
        // top: 50%;
        // transform: translateY(-50%);
        // height: 80vh;
        // width: 4.5rem;
        // flex-direction: column;
        z-index: 100;
        position: fixed;
        border-radius: 50px;

        section {
            height: 5rem;
        }

    }
}


