@import './variables';

.order-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 10;
}

.order-overlay-container {
  margin: 7rem;
  padding: 1rem;
  border-radius: 1.7rem;
  background-image: linear-gradient(to bottom, rgb(39, 37, 37), rgba(56, 53, 53, 0.954), rgba(107, 105, 105, 0.285));
  width: 22rem;
  height: 47rem;
  display: flex;
  flex-direction: column;

  .close_btn {
    margin-right: 0; // Push close_btn to the right
    align-self: flex-end; // Align close_btn to the end of the container
  }

  h1 {
    font-size: $font-size-lg;
    color: $sushi-red-color;
    text-align: center;
    margin-top: 5rem;
  }

  .order-comment {
    display: flex;
    flex-direction: column;
    align-items: end;
    line-height: 0;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem; // Adjust the margin-top as needed
}

.confirm_btn {
  background-color: $green-button-color;
  width: 7.5rem;
  height: 4rem;
  border-radius: 1.875rem;
  border: none;
  font-size: $font-size-lg;
  color: white;
  margin-top: 6rem; // Add margin-top for the YES button
}
