@import './variables';

.worker-foodcard-wrapper {
    height: 8.6rem;
    width: 23rem;
    border-radius: 1.25rem;
    margin: 2rem 1rem;
    background: linear-gradient(to right, #626262, #62626200);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img {
        width: 7.9rem;
        height: 8.6rem;
    }
    .info {
        margin: 1.5rem;
        font-size: $font-size-lg;
    }
}

.orders-empty {
    text-align: center;
    margin-top: 5rem;
    font-style: italic;
}